
.leftLogo a h1 {
    font-weight: 600;

  }

  .leftLogo a {

    text-decoration: 5px underline #F78924;
    color: #142F43 !important;
  }

  .leftLogo a:hover {
    text-decoration: 5px underline #142F43;
    color: #F78924 !important;


  }

  .navigation {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
    background-color: #dee7ef79;

  }

  .rightInfo {
    width: 100%;
  }
  .viewProfile i{
    color: #132c3f;
  }

  .profileContainer {
    position: absolute;
    top: 10px;
    right: 45px;

  }
  .profileContainer img{
    width: 60px;
    height: 60px;
    border-radius: 60%;

  }


  .prStyle{
    border-radius: 60%;
    /* padding: 1px; */
    color: #4d7ea434;
    border: 3px solid rgb(104, 172, 2)!important;
  }
  

  .profileContainer button {
    /* padding: 10px; */
    /* border: 2px solid #142F43; */
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #EFF4F7 !important;
  }


  #nav {
    position: absolute;
    right: -33px;
    background-color: #dee7ef79;
    padding: 30px;
    border-radius: 5px;
    width: 230px;
    margin-top: 30px;
    display: none;
    z-index: 1;
    

  }

  hr {
    border: 2px solid #142F43 !important;
    border-radius: 10px;
  }

  .linkContainer {
  }

  .linkContainer a {

    font-size: medium !important;
    text-decoration: none;
    color: #142F43;



  }

  .linkContainer a:hover {

    color: #F78924;
    /* font-weight: bold; */
  }

  .triangle-up {
    right: 38px;
    top: -14px;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 14px solid #dee7ef79;

  }