*{
    margin: 0px;
    padding: 0px;
}


.DonationContainer{
    display: flex;
}
.leftContainer{
    background-color: #EDEDED;
    width: 65%;
    /* margin: auto; */
    /* border: 2px solid #B7BEC3; */
    border-radius: 5px;
}
.imgContainer{
    width: 90%;
    margin: auto;
    padding: 10px;

}
.imgContainer img{
    width: 100%;
    border-radius: 5px;
    height: 400px;
    border: 2px solid #B7BEC3;
}
.campaignInfo{
    width: 90%;
    margin: auto;
}
.organizerInfo img{

}
hr{
    border: 2px solid #142F43!important;
    border-radius: 10px;
}
.rightContainer{
    /* border: 2px solid #B7BEC3; */
    /* margin-left: 10px; */
    background-color: #EDEDED;
    width: 35%;
    text-align: center;
    /* margin: auto; */
    margin-left: 20px;
    border-radius: 5px;
    text-align: left;
    /* height: 600px; */
}
.progressBar{
    width: 80%;
    margin: auto;
}
.donateBtn{
    margin-top: 20px;
    text-align: center;
}
.donateBtn button{
    width: 100%;
    padding: 5px 20px;
    color: #142F43;
    border-radius: 5px;
    border: 2px solid #F98012;
}
.formContainer{
    padding: 10px;
    width: 70%;
    margin: auto;
    background-color: white!important;
    border-radius: 10px;
    display: none;
}
form{
    width: 100%;
}


.progressParent{
    width: 100%;
    height: 10px;
    background-color: #142f43a2;
    /* border-radius: 20px; */
}
.progressChild{
    /* width: 50%; */
    height: 10px;
    background-color: #F98012;
    /* border-radius: 20px; */
}
.userProfile img{
    width: 100px;
    height: 100px;
    border-radius: 60px!important;
}

input[type=number],input[type=text]{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background-color: #EDEDED;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
}
input[type=radio]{
    width: 20px;
    
}


#donateBtn{
    width: 60%;
    border: 2px solid #F98012;
    padding:5px 10px;
    border-radius: 10px;
    background-color: #EDEDED;
}
#donateBtn:hover{
    background-color: white;
    color: #F98012;
}
@media only screen and (max-width: 600px) {
    .DonationContainer{
        display: inline;
    }
    .leftContainer{
        width: 100%;
    }
    .rightContainer{
        width: 90%;
    }
  }


  /* nav profile style */

