*{
    margin: 0px;
    padding: 0px;
}
.navigation{
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    align-items: center;
    margin-bottom: 30px;
   

}
.rightInfo a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;

    font-size: large;
    background-color: #F78924;
    border-radius: 10px;
}
.rightInfo a:hover{
    color: #142F43;

    background-color: #F98012;
    border-left: 5px solid #142F43;
    border-bottom: 5px solid #142F43;
    border-radius: 10px;
    
}

.leftLogo a h1{
    font-weight: 600;
    /* font-size: xx-large; */
}
.leftLogo a {

    text-decoration:5px underline #F78924;
    /* text-decoration: none; */
    color: #142F43!important;
}
.leftLogo a:hover{
    color: #F78924!important;
    text-decoration:5px underline #142F43;

}
.DonationContainer{
    display: flex;
}
.leftContainer{
    background-color: #EDEDED;
    width: 65%;
    /* margin: auto; */
    /* border: 2px solid #B7BEC3; */
    border-radius: 5px;
}
.imgContainer{
    width: 90%;
    margin: auto;
    padding: 10px;

}
.imgContainer img{
    width: 100%;
    border-radius: 5px;
    height: 400px;
    border: 2px solid #B7BEC3;
}
.campaignInfo{
    width: 90%;
    margin: auto;
}
.organizerInfo img{

}
hr{
    border: 2px solid #142F43!important;
    border-radius: 10px;
}
.rightContainer{
    /* border: 2px solid #B7BEC3; */
    /* margin-left: 10px; */
    background-color: #EDEDED;
    width: 35%;
    text-align: center;
    /* margin: auto; */
    margin-left: 20px;
    border-radius: 5px;
    text-align: left;
    /* height: 600px; */
}
.progressBar{
    width: 80%;
    margin: auto;
}
.donateBtn{
    margin-top: 20px;
    text-align: center;
}
.donateBtn button{
    width: 100%;
    padding: 5px 20px;
    color: #142F43;
    border-radius: 5px;
    border: 2px solid #F98012;
}
form{
    width: 100%;
}
.formContainer{
    padding: 10px;
    width: 100%;
    background-color: white!important;
    border-radius: 10px;
    display: none;
}

.progressParent{
    width: 100%;
    height: 10px;
    background-color: #142f43a2;
    border-radius: 20px;
}
.progressChild{
    width: 50%;
    height: 10px;
    background-color: #F98012;
    border-radius: 20px;
}

input[type=number],input[type=text]{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background-color: #EDEDED;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
}
input[type=radio]{
    width: 25px;
}
#donateBtn{
    width: 60%;
    border: 2px solid #F98012;
    padding:5px 10px;
    border-radius: 10px;
    background-color: #EDEDED;
}
#donateBtn:hover{
    background-color: white;
    color: #F98012;
}
@media only screen and (max-width: 600px) {
    .DonationContainer{
        display: inline;
    }
    .leftContainer{
        width: 100%;
    }
    .rightContainer{
        width: 90%;
    }
  }