body{
    background-color: #FFFFFF!important;
}
nav{
    height: 60px;
    width: 100%;

}
.navStyle >a >h1{
    font-weight: bolder;
    color: #142F43;
}
.navStyle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboardNav{
background-color: #EDEDED;
padding: 20px;
border-radius: 5px;

}
.dashboardNav a{
    text-decoration: none;
    color: #142F43;
    
}
.dashboardNav a:hover{
    color: #F98012;
    
}
hr{
    border: 2px solid #142f4362!important;
    /* color: #F98012!important; */
}
.dashboardInfo{
    width: 80%;
    height: 120px;
    margin: auto;
    border-radius: 5px;
    background-color: #EDEDED;
    padding: 10px;
}
.dashboardImg{
    width: 40%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;


}